.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f9f9f4;
  }
  
  .card {
    background-color: #ffffe7;
    border-radius: 25px;
    padding: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
  }
  
  .title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
  .form {
    display: flex;
    flex-direction: column;
  }
  
  .inputGroup {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    border: 1px solid #00a859;
    border-radius: 5px;
    overflow: hidden;
  }
  
  .icon {
    background-color: #ffffff;
    padding: 0.5rem;
    border-right: 1px solid #00a859;
    font-size: 1.2rem;
  }
  
  .input {
    flex: 1;
    border: none;
    outline: none;
    padding: 0.5rem;
    font-size: 1rem;
  }
  
  .forgotPassword {
    text-align: right;
    margin-bottom: 1rem;
  }
  
  .forgotPassword a {
    font-size: 0.9rem;
    text-decoration: none;
    color: #00a859;
  }
  
  .button {
    background-color: #00a859;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 0.7rem;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .button:hover {
    background-color: #007b40;
  }
  
  .footerText {
    margin-top: 1rem;
    font-size: 0.9rem;
    color: #000;
  }
 
  

  .footerText a {
    color: #00a859;
    text-decoration: none;
    font-weight: bold;
  }

  
  

  .link {
    color: #00a859;
    text-decoration: none;
    font-weight: bold;
  }
  
  .link:hover {
    text-decoration: underline;
  }

 

  
  